@page "/FilmSchedule"
@using MudBlazor



@* <MudAppBar Style="background-color:#261D30" Fixed="false">
    <MudLink Style="color:white" Href="/home" Typo="Typo.body2"><h1>URF CENIMAS</h1></MudLink>
    <MudSpacer />
    <MudLink Href="/home" Typo="Typo.body2"><h1>Phim đang chiếu</h1></MudLink>
    <MudSpacer />
    <MudLink Href="/FilmSchedule" Typo="Typo.body2"><h1>Lịch chiếu</h1></MudLink>
    <MudSpacer />
    <MudPaper>
        <MudSelect Dense="true" T="string" Label="Rạp URF" Variant="Variant.Outlined" Style="color:white" FullWidth>
            <MudSelectItem Value="@("URF Cầu Giấy")" />
            <MudSelectItem Value="@("URF Thanh Xuân")" />
            <MudSelectItem Value="@("URF Hoàng Mai")" />
        </MudSelect>
    </MudPaper>
    <MudSpacer/>
    <MudLink Href="/myaccount">
        <MudIcon Icon="@Icons.Material.Filled.PersonOutline" Style="color:white" />
    </MudLink>
</MudAppBar> *@
@* <MudAppBar Style="background-color:#261D30" Fixed="false" Elevation="0">
    <MudLink Href="/home" Style="color:white">URF CINEMAS</MudLink>
    <MudLink Href="#" Style="color:white">Phim</MudLink>
    <MudLink Href="/FilmSchedule" Style="color:white">Lịch Chiếu</MudLink>
    <MudPaper Height="40px" Width="100%">
        <MudSelect Dense="true" T="string" Label="Rạp URF" Variant="Variant.Outlined" Style="color:white" FullWidth>
            <MudSelectItem Value="@("URF Cầu Giấy")" />
            <MudSelectItem Value="@("URF Thanh Xuân")" />
            <MudSelectItem Value="@("URF Hoàng Mai")" />
        </MudSelect>
    </MudPaper>
    <MudIcon Icon="@Icons.Material.Filled.PersonOutline" Style="color:white" />
</MudAppBar> *@
<MudPaper Style="background-color:#180F20">
    <MudContainer Fixed="true">
        <MudPaper  Square="true">
            <MudTabs Elevation="4" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Style="@($"color:{Colors.Shades.White}; background-color:#180F20;")">
                <MudTabPanel Text="10/3" Style="background-color:#180F20">
                    <MudGrid>
                        <MudItem xs="12" md="4" Class="d-flex justify-center align-center" Style="height:500px;">
                            <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                        </MudItem>
                        <MudItem xs="12" md="4" Style="background-color:#180F20">
                            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                                <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                                <MudText Typo="Typo.caption" Style="color:white">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                             Style="color:white" />Action, Fiction
                                </MudText>
                                <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                                <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                                <MudLink Href="/room"> <MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">17:00</MudButton></MudLink>
                                <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                            </MudPaper>

                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="11/3" Style="background-color:#180F20">
                    <MudGrid>
                        <MudItem xs="12" md="4" Class="d-flex justify-center align-center" Style="height:500px;">
                            <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                        </MudItem>
                        <MudItem xs="12" md="4" Style="background-color:#180F20">
                            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                                <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                                <MudText Typo="Typo.caption" Style="color:white">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                             Style="color:white" />Action, Fiction
                                </MudText>
                                <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                                <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">17:00</MudButton></MudLink>
                                <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="12/3" Style="background-color:#180F20">
                    <MudGrid>
                        <MudItem xs="12" md="4" Class="d-flex justify-center align-center" Style="height:500px;">
                            <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                        </MudItem>
                        <MudItem xs="12" md="4" Style="background-color:#180F20">
                            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                                <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                                <MudText Typo="Typo.caption" Style="color:white">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                             Style="color:white" />Action, Fiction
                                </MudText>
                                <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                                <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">17:00</MudButton></MudLink>
                                <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="13/3" Style="background-color:#180F20">
                    <MudGrid>
                        <MudItem xs="12" md="4" Class="d-flex justify-center align-center" Style="height:500px;">
                            <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                        </MudItem>
                        <MudItem xs="12" md="4" Style="background-color:#180F20">
                            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                                <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                                <MudText Typo="Typo.caption" Style="color:white">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                             Style="color:white" />Action, Fiction
                                </MudText>
                                <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                                <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">17:00</MudButton></MudLink>
                                <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="14/3" Style="background-color:#180F20">
                    <MudGrid>
                        <MudItem xs="12" md="4" Class="d-flex justify-center align-center" Style="height:500px;">
                            <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                        </MudItem>
                        <MudItem xs="12" md="4" Style="background-color:#180F20">
                            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                                <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                                <MudText Typo="Typo.caption" Style="color:white">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                             Style="color:white" />Action, Fiction
                                </MudText>
                                <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                                <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">17:00</MudButton></MudLink>
                                <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="15/3" Style="background-color:#180F20">
                    <MudGrid>
                        <MudItem xs="12" md="4" Class="d-flex justify-center align-center" Style="height:500px;">
                            <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                        </MudItem>
                        <MudItem xs="12" md="4" Style="background-color:#180F20">
                            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                                <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                                <MudText Typo="Typo.caption" Style="color:white">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                             Style="color:white" />Action, Fiction
                                </MudText>
                                <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                                <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">17:00</MudButton></MudLink>
                                <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="16/3"  Style="background-color:#180F20">
                    <MudGrid>
                        <MudItem xs="12" md="4" Class="d-flex justify-center align-center" Style="height:500px;">
                            <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                        </MudItem>
                        <MudItem xs="12" md="4" Style="background-color:#180F20">
                            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                                <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                                <MudText Typo="Typo.caption" Style="color:white">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                             Style="color:white" />Action, Fiction
                                </MudText>
                                <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                                <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">17:00</MudButton></MudLink>
                                <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                                <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
            </MudTabs>
        </MudPaper>
    </MudContainer>
</MudPaper>

<MudPaper Height="1000px" Width="100%" Style="background-color:#180F20">
    <MudContainer Fixed="true">
        <MudPaper Height="400px" Width="100%" Square="true">
            <MudGrid Style="background-color:#180F20">
                <MudItem xs="12" md="3" Class="d-flex justify-center align-center" Style="height:500px;">
                    <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                </MudItem>
                <MudItem xs="12" md="3" Style="background-color:#180F20">
                    <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                        <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                        <MudText Typo="Typo.caption" Style="color:white">
                            <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                     Style="color:white" />Action, Fiction
                        </MudText>
                        <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                        <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                        <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="3" Class="d-flex justify-center align-center" Style="height:500px;">
                    <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                </MudItem>
                <MudItem xs="12" md="3" Style="background-color:#180F20">
                    <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                        <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                        <MudText Typo="Typo.caption" Style="color:white">
                            <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                     Style="color:white" />Action, Fiction
                        </MudText>
                        <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                        <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                        <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                    </MudPaper>
                </MudItem>
            </MudGrid>
            <MudGrid Style="background-color:#180F20">
                <MudItem xs="12" md="3" Class="d-flex justify-center align-center" Style="height:500px;">
                    <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                </MudItem>
                <MudItem xs="12" md="3" Style="background-color:#180F20">
                    <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                        <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                        <MudText Typo="Typo.caption" Style="color:white">
                            <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                     Style="color:white" />Action, Fiction
                        </MudText>
                        <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                        <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                        <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="3" Class="d-flex justify-center align-center" Style="height:500px;">
                    <MudImage Src="https://tse2.mm.bing.net/th?id=OIP.28bgeV4gAtA0jQckI7dAUgHaMd&pid=Api&P=0&h=220" Width="150" Height="200" Alt="Swedish Farm House" Elevation="1" Class="rounded-lg ma-4" />
                </MudItem>
                <MudItem xs="12" md="3" Style="background-color:#180F20">
                    <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0" Style="background-color:#180F20">
                        <MudText Typo="Typo.h5" Style="color:white">LOKI : SEASON 2</MudText>
                        <MudText Typo="Typo.caption" Style="color:white">
                            <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                     Style="color:white" />Action, Fiction
                        </MudText>
                        <MudText Typo="Typo.subtitle1" Style="color:white">120 Minutes</MudText>
                        <MudText Typo="Typo.h6" Style="color:white">2D Subtitle</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">8:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">10:00</MudButton></MudLink>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">13:00</MudButton></MudLink>
                        <MudText Typo="Typo.subtitle1" Style="color:white">2D Voice - over</MudText>
                        <MudLink Href="/room"><MudButton Variant="Variant.Filled" Style="background-color:white">15:00</MudButton></MudLink>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>
</MudPaper>
<MudDivider/>
<MudPaper Height="180px" Width="100%" Style="background-color:#261D30">
    <MudContainer Fixed="true">
        <MudPaper Height="0px" Width="100%" Square="true">
            <MudPaper Class=" pa-4 align-start d-flex" Style="width: 100%; background-color:#261D30;" Outlined="true">
                <MudPaper Class="pa-3" Elevation="6" Style="background-color:#261D30">
                    <MudGrid Class=" pa-4 align-start d-flex" Style="width: 380px; background-color:#261D30" Outlined="true">
                        <MudText Align="Align.Left" Style="color:white" Typo="Typo.h6">URF CINEMAS</MudText>
                        <MudText Align="Align.Left" Style="color:white">URF Mỹ Đình, Hà Nội - Hotline 0349485127</MudText>
                        <MudText Align="Align.Left" Style="color:white">URF Mỹ Đình, Hà Nội - Hotline 0349485127</MudText>
                        <MudText Align="Align.Left" Style="color:white">URF Mỹ Đình, Hà Nội - Hotline 0349485127</MudText>
                    </MudGrid>
                </MudPaper>
                <MudSpacer />
                <MudPaper Class="pa-3" Elevation="6">
                    <MudGrid Class=" pa-4 align-start d-flex" Style="width: 150px; background-color:#261D30" Outlined="true">
                        <MudText Style="color:white" Typo="Typo.h6">FOLLOW US</MudText>
                        <MudText Style="color:white">
                            <MudIcon Icon="@Icons.Custom.Brands.Facebook"
                                     Style="color:white" />
                        </MudText>
                    </MudGrid>
                </MudPaper>
                <MudSpacer />
                <MudPaper Class="pa-3" Elevation="6">
                    <MudGrid Class=" pa-4 align-start d-flex" Style="width: 380px; background-color:#261D30" Outlined="true">
                        <MudText Style="color:white" Typo="Typo.body1" Align="Align.Right">HOTLINE : 0349485127, 0349485127</MudText>
                        <MudText Style="color:white">Email : trangdkph46130@gmail.com</MudText>
                    </MudGrid>
                </MudPaper>
            </MudPaper>
        </MudPaper>
    </MudContainer>
</MudPaper>


@code {


}
