@page "/room"
<MudPaper Square="true" Class="mt-3 mud-theme-dark">

    <MudContainer Fixed="true">
    <MudCarousel Class="mud-width-full" Style="height:200px;" AutoCycle="false" TData="object">
    <BulletTemplate Context="selected">
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Color="@Color.Inherit" />
            </span>
        </div>
    </BulletTemplate>
    <PreviousButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit" />
            </span>
        </div>
    </PreviousButtonTemplate>
    <NextButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit" />
            </span>
        </div>
    </NextButtonTemplate>
    <ChildContent>
        <MudCarouselItem >
            <div class="d-flex" style="height:100%">
               <MudImage Src="https://insieutoc.vn/wp-content/uploads/2021/02/poster-ngang.jpg" Width="1500" Height="200" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>
            </div>
        </MudCarouselItem>
        <MudCarouselItem >
            <div class="d-flex" style="height:100%">
               <MudImage Src="https://static.ybox.vn/2018/4/28/b32fb676-4acf-11e8-bc42-56c566ee3692.png" Width="1500" Height="200" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>

            </div>
        </MudCarouselItem>
        <MudCarouselItem>
            <div class="d-flex" style="height:100%">
               <MudImage Src="https://kenh14cdn.com/thumb_w/500/2016/p9-1455516821188.gif.png" Width="1500" Height="180" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>

            </div>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>

<MudGrid>
       <MudItem xs="9">
        <center><MudText Typo="Typo.h3">Front of cinema</MudText></center>
    </MudItem>
       <MudItem xs="3" Class="mt-6" >
       <MudPaper Class="pa-2 mud-success">Your seat</MudPaper>
       <MudPaper Class="pa-2 mud-Lighten5 mt-3">Available</MudPaper>
       <MudPaper Class="pa-2 mud-warning mt-3">Reserved</MudPaper>
       <MudPaper Class="pa-2 mud-error mt-3">Sold out</MudPaper>
       <MudPaper Class="pa-2 mud-primary mt-3">Be Kept</MudPaper>
       <MudPaper Class="pa-2 mud-info mt-6">Couple</MudPaper>
       <MudPaper Style="background-color:#FFEE58" Class="pa-2 mt-3">Standard</MudPaper>
       <MudPaper Style="background-color:#A1887F" Class="pa-2 mt-3">Vip</MudPaper>
                <MudLink Href="/Payment"> <MudText Align="Align.Center"> <MudButton Variant="Variant.Filled" Color="Color.Success" Class="mt-3">Procced</MudButton> </MudText></MudLink>

      
     
    </MudItem>
</MudGrid>


    </MudContainer>
</MudPaper>
@code {
    public string Search { get; set; }
    void CloseChip()
    {
        // Code..
    }
}
